.infoWindowContainer {
    height : 400px;
    width : 600px;
}

.infoImage{
    height : 200px;
    width : 200px;
}

img {
    height : 200px;
    width : 200px;
}

#title {
    text-align: center;
    font-size : 40px;
}

.page-footer{
    position : absolute;
    bottom : 0;
    height: 50%;
    width :100%;
}
.form-group{
    position : relative;
}

#loader {
    display : block;
    display:none;
    margin-left :  auto;
    margin-right: auto;
    width: 50%;
}
#frontPageButton{
    text-decoration: none;
    display: inline-block;
    text-align: center;
}