.infoWindowContainer {
    height: 400px;
    width: 600px;
}

.infoImage {
    height: 200px;
    width: 200px;
}

img {
    height: 200px;
    width: 200px;
}

#title {
    text-align: center;
    font-size: 40px;
}

.page-footer {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
}

.form-group {
    position: relative;
}

#loader {
    display:none;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.btn-primary {
    margin : auto;
}
#map {
    height: 90%;
    width: 100%;
}

/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.infoImage {
    height: 200px;
    width: 200px
}